language: go

go:
  - 1.4.2

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y runit

install:
  - gem install rake
  - go get github.com/tools/godep
  - rake install
  - sudo wget https://dl.bintray.com/mitchellh/consul/0.5.2_linux_amd64.zip
  - sudo unzip 0.5.2_linux_amd64.zip
  - sudo mv consul /usr/bin/

script:
  - rake test
  - integration/travis.sh
